.li {
    border: solid 1px;
    max-width: 300px;
    padding: 5px;
    border-radius: 4px;
    list-style-type: none;
    margin-bottom: 5px;
}

.payButton {
    max-width: 150px;
    padding: 10px 10px;
    background: #50BDFA;
    border: none;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 600;
    width: 100%;
}